name: Build and push containers to SCCH registry
on:
  workflow_dispatch:
    inputs:
      name:
      chosen-runner:
        required: false
        type: choice
        description: 'Runner label'
        default: 'local-runner'
        options:
          - local-runner
          - dependabot

jobs:
  build-and-deploy:
    runs-on: [ self-hosted, "${{ inputs.chosen-runner }}" ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: containers.github.scch.at
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: docker/setup-buildx-action@v2
        with:
          install: true
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Get maven
        run: |
          wget https://dlcdn.apache.org/maven/maven-3/3.9.4/binaries/apache-maven-3.9.4-bin.tar.gz
          tar -xvf apache-maven-3.9.4-bin.tar.gz

      - name: Build and Package
        run: ./apache-maven-3.9.4/bin/mvn clean package -Dmaven.test.skip=true

      - name: Push to container registry
      - run: ./script/publish-docker-images.sh containers.github.scch.at/contest/trainticket latest
