name: Deploy to self-hosted runner

on:
  workflow_dispatch:
    inputs:
      namespace:
        required: false
        type: text
        description: 'Kubernetes namespace'
        default: ''
      deploy-args:
        required: false
        type: choice
        description: 'Deployment arguments'
        default: ''
        options:
          -
          - --independent-db
          - --with-monitoring
          - --with-tracing
          - --independent-db --with-tracing
          - --independent-db --with-monitoring
          - --with-tracing --with-monitoring
          - --all

jobs:
  deploy:
    runs-on: [ urbanke ]
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: containers.github.scch.at
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - run: ./hack/deploy/deploy.sh scch-sws "${{ inputs.deploy-args }}"

