name: Reset deployment on SCCH Cluster

on:
  workflow_dispatch:
    inputs:
      chosen-runner:
        required: false
        type: choice
        description: 'Runner label'
        default: 'urbanke'
        options:
          - urbanke
          - dependabot
jobs:
  reset-deploy:
    runs-on: [ self-hosted, "${{ inputs.chosen-runner }}" ]
    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
      - run: mkdir --parents .kube
      - name: Setup kubernetes
        env:
          HPC_USERNAME: ${{ secrets.HPC_USERNAME }}
          HPC_PASSWORD: ${{ secrets.HPC_PASSWORD }}
          HPC_TENANT: ${{ secrets.HPC_TENANT }}
        run: |
          curl -k -s --request GET "https://duesentrieb.hpc.scch.at:8080/api/v2/k8skubeconfig" \
          --header "X-BDS-SESSION: $(curl -k -i -s --request POST "https://duesentrieb.hpc.scch.at:8080/api/v2/session" \
          --header 'Accept: application/json' \
          --header 'Content-Type: application/json' \
            --data-raw "{
          \"name\": \"${HPC_USERNAME}\",
          \"password\": \"${HPC_PASSWORD}\"
          }" | grep Location | awk '{print $2}' | tr -d '\r')" \
          --header 'Accept: application/json' \
          --header 'Content-Type: application/json' > ./.kube/config
      - run: cat ./.kube/config
      - run: curl -k -s --request GET "https://storage.googleapis.com/kubernetes-release/release/v1.20.11/bin/linux/amd64/kubectl" > ./.kube/kubectl
      - run: chmod +x ./.kube/kubectl
      - run: export PATH="$PATH:$(pwd)/.kube"
      - run: ls -al ./kube
      - run: echo $PATH

      - run: curl -k -s --request GET "https://bluedata-releases.s3.amazonaws.com/kubectl-epic/3.4/14/linux/kubectl-hpecp.star" > kubectl-hpecp.star
      - run: tar --extract --file kubectl-hpecp.star kubectl-hpecp
      - run: mv kubectl-hpecp .kube/kubectl-hpecp
      - run: rm -f kubectl-hpecp.star

      - run: kubectl version
      - run: which kubectl
#      - run: ./hack/deploy/reset.sh scch-sws
