name: Reset deployment on SCCH Cluster

on:
  workflow_dispatch:
    inputs:
jobs:
  reset-deploy:
    runs-on: [ dependabot ]
    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
      - run: mkdir --parents .kube/bin
      - name: Setup kubernetes
        env:
          HPC_USERNAME: ${{ secrets.HPC_USERNAME }}
          HPC_PASSWORD: ${{ secrets.HPC_PASSWORD }}
          HPC_TENANT: ${{ secrets.HPC_TENANT }}
        run: |
          curl -k -s --request GET "https://duesentrieb.hpc.scch.at:8080/api/v2/k8skubeconfig" \
          --header "X-BDS-SESSION: $(curl -k -i -s --request POST "https://duesentrieb.hpc.scch.at:8080/api/v2/session" \
          --header 'Accept: application/json' \
          --header 'Content-Type: application/json' \
            --data-raw "{
          \"name\": \"${HPC_USERNAME}\",
          \"password\": \"${HPC_PASSWORD}\"
          }" | grep Location | awk '{print $2}' | tr -d '\r')" \
          --header 'Accept: application/json' \
          --header 'Content-Type: application/json' > ./.kube/config
      - run: cat ./.kube/config
      - run: curl --location "https://dl.k8s.io/release/v1.26.1/bin/linux/amd64/kubectl" --output ./.kube/bin/kubectl \
            && chmod +x ./.kube/bin/kubectl \
      - run: export PATH="$PATH:$(pwd)/.kube/bin"

      - run: curl --location https://bluedata-releases.s3.amazonaws.com/kubectl-epic/3.4/14/linux/kubectl-hpecp.star --output kubectl-hpecp.star \
            && tar --extract --file kubectl-hpecp.star kubectl-hpecp \
            && mv kubectl-hpecp ./kubectl/kubectl-hpecp \
            && rm -f kubectl-hpecp.star

      - run: kubectl version
#      - run: ./hack/deploy/reset.sh scch-sws

