name: Reset deployment on SCCH Cluster

on:
  workflow_dispatch:
    inputs:
      chosen-runner:
        required: false
        type: choice
        description: 'Runner label'
        default: 'urbanke'
        options:
          - urbanke
          - dependabot
jobs:
  reset-deploy:
    runs-on: [ self-hosted, "${{ inputs.chosen-runner }}" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - run: mkdir .kube
      - name: Setup kubernetes
        env:
          HPC_USERNAME: ${{ secrets.HPC_USERNAME }}
          HPC_PASSWORD: ${{ secrets.HPC_PASSWORD }}
        run: |
          curl -k -s --request GET "https://duesentrieb.hpc.scch.at:8080/api/v2/k8skubeconfig" \
          --header "X-BDS-SESSION: $(curl -k -i -s --request POST "https://duesentrieb.hpc.scch.at:8080/api/v2/session" \
          --header 'Accept: application/json' \
          --header 'Content-Type: application/json' \
            --data-raw "{
          \"name\": \"${HPC_USERNAME}\",
          \"password\": \"${HPC_PASSWORD}\"
          }" | grep Location | awk '{print $2}' | tr -d '\r')" \
          --header 'Accept: application/json' \
          --header 'Content-Type: application/json' > ./.kube/config

      - run: |
          curl -k -s --request GET "https://storage.googleapis.com/kubernetes-release/release/v1.20.11/bin/linux/amd64/kubectl" > ./.kube/kubectl
          chmod +x ./.kube/kubectl

      - run: |
          curl -k -s --request GET "https://bluedata-releases.s3.amazonaws.com/kubectl-epic/3.4/14/linux/kubectl-hpecp.star" > kubectl-hpecp.star
          tar -xf kubectl-hpecp.star kubectl-hpecp
          mv kubectl-hpecp .kube/kubectl-hpecp
          rm -f kubectl-hpecp.star

      - run: |
          curl -k -s --request GET "https://get.helm.sh/helm-v3.12.3-linux-amd64.tar.gz" > helm-v3.12.3-linux-amd64.tar.gz
          tar -xzf helm-v3.12.3-linux-amd64.tar.gz linux-amd64/helm
          mkdir helmbin
          mv linux-amd64/helm helmbin/
          rm helm-v3.12.3-linux-amd64.tar.gz
          chmod +x helmbin/
      - run: |
          export PATH="$PATH:$(pwd)/.kube:$(pwd)/helmbin"
          export KUBECONFIG="$(pwd)/.kube/config"
          ./hack/deploy/reset.sh scch-sws
