# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
#        description: 'Person to greet'
        # Default value if no value is explicitly provided
#        default: 'World'
        # Input has to be provided for the workflow to run
#        required: true
      chosen-runner:
        required: false
        type: choice
        description: 'Runner label'
        default: 'urbanke'
        options:
          - urbanke
          - dependabot

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
#  greet:
    # The type of runner that the job will run on
#    runs-on: [ self-hosted, "${{ inputs.chosen-runner }}" ]

    # Steps represent a sequence of tasks that will be executed as part of the job
#    steps:
      # Runs a single command using the runners shell
#      - name: Send greeting
#        run: echo "Hello ${{ github.event.inputs.name }}"

  build-and-deploy:
    runs-on: [ self-hosted, "${{ inputs.chosen-runner }}" ]

    steps:
#      - run: sudo apt install -y make
      - run: wget https://dlcdn.apache.org/maven/maven-3/3.9.4/binaries/apache-maven-3.9.4-bin.tar.gz
      - run: tar -xvf apache-maven-3.9.4-bin.tar.gz
#      - run: mv apache-maven-3.9.4 /opt/
      - run: export M2_HOME="$(pwd)/apache-maven-3.9.4" ; export PATH="$PATH:$M2_HOME/bin"
      - run: ./apache-maven-3.9.4/bin/mvn --version
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
      # Probably deactivate for run on cluster
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      # NEW
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: containers.github.scch.at
          username: ${{ github.actor }}
          password: ${{ github.token }}
#      - uses: docker/login-action@v1
#        with:
#          username: ${{ secrets.DOCKER_HUB_USERNAME }}
#          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - uses: docker/setup-buildx-action@v2
        with:
          install: true
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
#      - name: Setup Python
#        uses: actions/setup-python@v4
#        with:
#          python-version: '3.10'

      - run: ./apache-maven-3.9.4/bin/mvn clean package -Dmaven.test.skip=true
      - run: script/publish-docker-images.sh containers.github.scch.at latest
#      - run: make package publish-image Repo=containers.github.scch.at
